:root {
  --ciano-claro: hsl(174, 77%, 80%); /* slider */
  --ciano: hsl(174, 86%, 45%); /* bg slider */
  --vermelho-acinzentado: hsl(14, 92%, 95%); /* bg desconto */
  --vermelho-claro: hsl(15, 100%, 70%); /* texto desconto */
  --azul-claro: hsl(226, 100%, 87%); /* texto cta */

  --branco: hsl(0, 0%, 100%); /* bg componente de preço */
  --azul-muito-claro: hsl(222 87% 97%); /* bg principal */
  --azul-acinzentado-claro: hsl(224, 65%, 95%); /* slider vazia */
  --azul-acinzentado-claro-2: hsl(223, 50%, 87%); /* bg toggle */
  --azul-acinzentado: hsl(225, 20%, 60%); /* texto */
  --azul-escuro: hsl(227, 35%, 25%); /* texto e bg cta */
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  text-align: center;
}

header {
  background-color: var(--azul-muito-claro);
  border-bottom-left-radius: 25%;
  height: 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_texto {
  height: 40%;
  background: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header h1 {
  color: var(--azul-escuro);
  font-weight: 800;
  font-size: 1.2rem;
}

.subtitulo {
  height: 50px;
  width: 58%;
  max-width: 218px;
  color: var(--azul-acinzentado);
  line-height: 25px;
}

.container {
  background-color: var(--branco);
  box-shadow: 2px 2px 6px 0px var(--azul-acinzentado-claro-2);
  height: 20rem;
  width: 87%;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 12rem;
  bottom: 0;
  margin: auto;
  color: var(--azul-acinzentado);
  font-weight: 600;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* REMOVER */
}

.container h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
}

.range_slider {
  width: 90%;
  margin: 10px 0;
}

.range_slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 6px;
  background: var(--azul-acinzentado-claro);
  outline: none;
  padding: 0;
  margin: 0;
}

.range_slider [type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--ciano);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.range_slider [type="range"]::-webkit-slider-thumb:hover {
  background: #23ad9f;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range_slider [type="range"]::-webkit-slider-thumb:active {
  background: #23ad9f;
  box-shadow: 9px 5px 15px -4px var(--ciano);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range_slider [type="range"]::-webkit-progress-bar {
  background: var(--ciano);
}

.range_value {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0 0 10px 0;
}

.range_value_desktop {
  display: none;
}

.range_value_mobile span,
.range_value_desktop span {
  color: var(--azul-escuro);
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 2px;
  transition: text 0.2s ease;
}

.tipo_plano {
  width: 90%;
  max-width: 293px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
  margin: 0 0 10px 0;
  padding-bottom: 25px;
  border-bottom: 0.5px solid var(--azul-acinzentado-claro);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--azul-acinzentado-claro);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  height: 6px;
  width: 20px;
  transform: scale(1.5);
}

.label .circulo {
  background-color: var(--branco);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .circulo {
  transform: translateX(11px);
}

.desconto_desktop {
  display: none;
}

.desconto_mobile,
.desconto_desktop {
  color: var(--vermelho-claro);
  font-size: 11px;
  background-color: var(--vermelho-acinzentado);
  border: 6px solid var(--vermelho-acinzentado);
  border-radius: 15px;
}

.container_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.vantagens {
  font-size: 12px;
  line-height: 1.5rem;
}

.check {
  margin-right: 10px;
}

.botao {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  max-width: 150px;
  color: var(--azul-claro);
  background-color: var(--azul-escuro);
  border: 10px solid var(--azul-escuro);
  border-radius: 50px;
  margin-top: 15px;
}

.botao:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .subtitulo {
    max-width: none;
  }

  header h1 {
    font-size: 1.8rem;
  }

  .subtitulo {
    font-size: 14px;
  }

  .container {
    width: 50%;
    height: 16rem;
    max-width: 576px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .container_2 {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }

  .range_value_desktop {
    display: inline-block;
  }

  .range_value_mobile {
    display: none;
  }

  .tipo_plano {
    max-width: 350px;
  }

  .desconto_mobile {
    display: none;
  }

  .desconto_desktop {
    display: inline;
  }

  .container_3 {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  .botao {
    align-self: baseline;
  }
}
